@{
    ViewData["Title"] = "Home Page";
}

<div class="showcase-wrapper">
    <div class="image-container">
        <img src="~/images/coffee-background3.jpg" alt="A cup of black coffee on a dark background" class="main-showcase-image" />

        <div class="overlay-content">
            <h1 class="hero-title">START YOUR DAY<br>WITH COFFEE</h1>
            <a asp-area="" asp-controller="Product" asp-action="GetProducts" class="btn btn-order-now">OUR PRODUCTS</a>
        </div>
    </div>
</div>